@import "tailwindcss";

:root {
  --font-switzer: "Switzer", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

body {
  font-family: var(--font-satoshi);
}

.headline {
  font-family: var(--font-switzer);
}
