@import "tailwindcss";

:root {
  --font-switzer: "Switzer", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
  --primary: #0b7548;
}

@theme {
  --color-primary: #0b7548;
}

body {
  font-family: var(--font-satoshi);
}

.headline {
  font-family: var(--font-switzer);
}
